.footer {
    background-color: #333;
    color: #ccc;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
}

.links span {
    margin: 0 10px;
    cursor: pointer;
}

.links span:hover {
    color: white;
}