.header {
    width: 1872px; 
    height: 80px;
    padding: 0 20px; 
    background-color: white; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    gap: 2rem; 
}

.logo {
    margin-right: 1.5rem;
}

.linksContainer {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.linksContainer a {
    color: #229E6B; 
    text-decoration: none; 
    font-weight: 500; 
    font-size: 1rem;
    padding-top: 5px;
}

.languageSelector {
    color: #444; 
    cursor: pointer;
    font-weight: 500;
    margin-left: auto; 
}